{% extends "base.html" %}
{% from "macros/_form.html" import render_floating_input %}
{% from "macros/_form.html" import render_submit %}

{% block content %}
    <div class="container bg-light mt-3 p-5 border">
        <h2 class="text-center mb-3">Zmień dotychczasowe hasło</h2>
        <div class="border-top"></div>
        <div class="text-center d-flex flex-wrap justify-content-around mt-3">
            <form method="POST" style="min-width: 40%;">
                {{ password_form.csrf_token }}
                {{ render_floating_input(password_form.password) }}
                {{ render_floating_input(password_form.repeated_password) }}
                {{ render_submit(password_form.submit) }}
            </form>
        </div>
    </div>
{% endblock content %}