{% extends "base.html" %}
{% from "macros/_form.html" import render_floating_input %}
{% from "macros/_form.html" import render_select %}
{% from "macros/_form.html" import render_input_file %}
{% from "macros/_form.html" import render_submit %}


{% block content %}
    <div class="container bg-light mt-3 p-5 border">
        <h1 class="text-center">Dodaj książkę do księgozbioru</h1>
        <div class="d-flex justify-content-center my-5">
            <form method="POST" enctype="multipart/form-data" action="/add-book" style="min-width: 40%;">
                {{ form.csrf_token }}
                {{ render_floating_input(form.isbn) }}
                {{ render_floating_input(form.title, required=False) }}
                {{ render_select(form.category) }}
                {{ render_floating_input(form.add_category, hidden=True) }}
                <div class="text-end mb-2" style="margin-top: -15px;">
                    <span class="btn" id="add_category_btn">{{ form.add_category.label }}</span>
                </div>
                {{ render_floating_input(form.description) }}
                {{ render_select(form.author) }}
                {{ render_floating_input(form.add_author, hidden=True) }}
                <div class="text-end mb-2" style="margin-top: -15px;">
                    <span class="btn" id="add_author_btn">{{ form.add_author.label }}</span>
                </div>
                {{ render_floating_input(form.number_of_copies, type="number", min="0", required=False) }}
                {{ render_input_file(form.cover, accept=".jpg,.jpeg,.png") }}
                {{ render_select(form.publisher) }}
                {{ render_floating_input(form.pages, type="number", min="0", required=False) }}
                {{ render_floating_input(form.year, type="number", min="0", required=False) }}
                <div class="text-center">
                    {{ render_submit(form.submit) }}
                </div>
            </form>
        </div>
    </div>

    <script>
        categories = document.querySelector("select[name='category']");
        add_category = document.querySelector("input[name='add_category']");
        add_category_label = document.querySelector("label[for='add_category']");
        add_category_label.hidden = add_category.hidden;
        add_category_btn = document.querySelector("#add_category_btn");

        add_category_btn.addEventListener("click", function(){
            categories = document.querySelector("select[name='category']");
            add_category = document.querySelector("input[name='add_category']");
            add_category_label = document.querySelector("label[for='add_category']");

            categories.hidden = !categories.hidden;
            add_category_label.hidden = add_category.hidden = !add_category.hidden;

            if (categories.hidden){
                add_category_btn.innerHTML = "Wybierz kategorię";
                add_category.required = true;
            } else{
                add_category.value = "";
                add_category.required = false;
                add_category_btn.innerHTML = "Nowa kategoria";
                // could I take above value from form object?
            }
        })

        authors = document.querySelector("select[name='author']");
        add_author = document.querySelector("input[name='add_author']");
        add_author_label = document.querySelector("label[for='add_author']");
        add_author_label.hidden = add_author.hidden;
        add_author_btn = document.querySelector("#add_author_btn");

        add_author_btn.addEventListener("click", function(){
            authors = document.querySelector("select[name='author']");
            add_author = document.querySelector("input[name='add_author']");
            add_author_label = document.querySelector("label[for='add_author']");

            authors.hidden = !authors.hidden;
            add_author_label.hidden = add_author.hidden = !add_author.hidden;

            if (authors.hidden){
                add_author_btn.innerHTML = "Wybierz autora";
                add_author.required = true;
            } else{
                add_author.value = "";
                add_author.required = false;
                add_author_btn.innerHTML = "Nowy autor";
                // could I take above value from form object?
            }
        })
    </script>

{% endblock content %}