{% extends "base.html" %}
{% from "macros/_form.html" import render_floating_input %}
{% from "macros/_form.html" import render_select %}
{% from "macros/_form.html" import render_submit %}

{% block content %}
<div class="container bg-light mt-3 p-5 border">
    <h1 class="text-center">{{ heading }}</h1>
    <div class="d-flex justify-content-center my-5">
        <form method="POST" action="#" style="min-width: 40%;">
            {{ form.csrf_token }}
            {{ render_floating_input(form.user_id) }}
            {{ render_select(form.users, hidden=True) }}
            <div class="text-end mb-2" style="margin-top: -15px;">
                <span class="btn" id="users_btn">Wybierz użytkownika</span>
            </div>
            <div class="text-center">
                {{ render_submit(form.submit, value=button_value) }}
            </div>
        </form>
    </div>
    <hr>
    <div class="text-center text-muted">
        Tytuł: {{ book.title }}<br>
        Autor: {{ book.author.full_name }}<br>
        ISBN: {{ book.isbn }}<br>
    </div>
    <hr>
</div>
    <script src="{{ url_for('static', filename='switch_select_input.js') }}"></script>
    <script>
        users = document.querySelector("select[name='users']");
        user_id = document.querySelector("input[name='user_id']");
        user_id_label = document.querySelector("label[for='user_id']");
        user_id_label.hidden = user_id.hidden;
        users_btn = document.querySelector("#users_btn");

        users_btn.addEventListener("click", function(){
            switch_select_input(
                users,
                user_id,
                user_id_label,
                users_btn,
                "Wybierz użytkownika",
                "Wpisz ID"
            )
        });
    </script>
{% endblock content %}