{% extends "base.html" %}

{% from "macros/_pagination.html" import render_pagination %}

{% block content %}
<div class="container bg-light mt-3 p-5 border">
    <h1 class="text-center">{{ heading }}</h1>
    <hr>
    <div class="d-flex justify-content-center my-5">
        <ul class="list-group" style="min-width: 40%;">
            {% if borrowed_books %}
                {% for borrow in borrowed_books %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="{{ url_for('main.book_details', book_id=borrow.book.id) }}" class="link-dark">{{ borrow.book.title }}</a>
                                <span class="text-muted">({{ borrow.book.isbn }})</span> <br>
                                {% include "moderate/includes/borrow_info.html" %}
                            </div>
                            <div>
                                {% include "moderate/includes/borrow_buttons.html" %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <h2 class="text-muted text-center">Brak wypożyczonych książek...</h2>
            {% endif %}
            <div>&nbsp;</div>
            {{ render_pagination(pagination, "moderate.list_borrows_books") }}
        </ul>
    </div>
</div>
{% endblock content %}