{% extends "base.html" %}
{% from "macros/_form.html" import render_floating_input %}
{% from "macros/_form.html" import render_select %}
{% from "macros/_form.html" import render_checkbox %}
{% from "macros/_form.html" import render_submit %}


{% block content %}
    <div class="container bg-light mt-3 p-5 border">
        <h1 class="text-center">{{ heading }}</h1>
        <div class="d-flex justify-content-center my-5">
            <form method="POST" style="min-width: 40%;">
                {{ form.csrf_token }}
                {{ render_floating_input(form.name) }}
                {{ render_floating_input(form.surname) }}
                {{ render_floating_input(form.phone_number) }}
                {{ render_floating_input(form.extended_city) }}
                {{ render_floating_input(form.extended_street) }}
                {{ render_floating_input(form.email) }}
                {{ render_checkbox(form.activated) }}
                {{ render_select(form.role) }}
                <div class="text-center">
                    {{ render_submit(form.submit, value=button_value) }} <br>
                </div>
                {% if current_user.role.name == "admin" %}
                    <div class="text-center mt-5">
                        <hr>
                        <a href="#" class="btn btn-danger" id="delete-user">Usuń użytkownika</a>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <script>
        btn = document.querySelector("#delete-user");
        btn.addEventListener("click", function(event){
            event.preventDefault();
            if (confirm("Czy na pewno chcesz usunąć użytkownika {{ user.full_name }}?\n\nUsunięte zostaną dane personalne oraz wypożyczenia użytkownika.")){
                location.href = "{{ url_for('moderate.delete_user', user_id=user.id) }}";
            }
        })
    </script>
{% endblock content %}