{% extends "base.html" %}

{% block content %}
<div class="container bg-light mt-3 p-5 border">
    <h2 class="text-center mb-3">Ostatnio dodane książki</h2>
    <div class="border-top"></div>
    <div class="text-center d-flex flex-wrap justify-content-around mt-3">
        {% for book, cover in newest_books %}
            <div class="m-2">
                <a href="{{ url_for('main.book_details', id=book.id) }}" class="link-dark">
                    {{ cover|safe }} <br>
                    {{ book.title }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}