{% extends "base.html" %}
{% from "macros/_book.html" import render_book %}
{% from "macros/_pagination_searching.html" import render_pagination %}

{% block content %}
    <div class="container bg-light mt-3 p-5 border">
        <h2 class="text-center mb-3">Znalezione książki</h2>
        <div class="border-top"></div>
        <div class="d-flex flex-column mt-3">
            {% if found_books %}
                {% for book, cover in found_books %}
                    {{ render_book(book, cover, current_user) }}
                {% endfor %}
                {{ render_pagination(pagination, "main.search") }}
            {% else %}
                <h2 class="text-muted">Nic nie znaleziono...</h2>
            {% endif %}
        </div>
    </div>
{% endblock content %}