{% macro render_book(book, cover, show_description=False) %}
<div class="d-flex shadow-sm flex-column flex-md-row m-3 p-3">
    <div class="flex-shrink-0 ms-3 mb-2">
        {{ cover|safe }}
    </div>
    <div>
        <div>
            <span class="fw-bold font-monospace m-3 fs-3">
                <a href="{{ url_for('main.book_details', id=book.id) }}" class="link-dark">
                    {{ book.title }}
                </a>
            </span>
            <br>
            <span class="fs-5 font-monospace m-3">
                <a href="{{ url_for('main.search', search_by='author', phrase=book.author.full_name) }}" class="link-dark text-muted">
                    {{ book.author.full_name }}
                </a>
            </span>
        </div>
        <div class="m-3">
            Wydawnictwo: <a href="{{ url_for('main.search', search_by='publisher', phrase=book.publisher) }}" class="link-dark">{{ book.publisher }}</a><br>
            Rok wydania: {{ book.year }}<br>
            Liczba stron: {{ book.pages }}<br>
            Gatunek: <a href="{{ url_for('main.search', search_by='category', phrase=book.category) }}" class="link-dark">{{ book.category }}</a>
        </div>
        {% if show_description %}
        <div class="text-muted m-3">
            {{ book.description|truncate }}
        </div>
        {% endif %}
    </div>
</div>
    {% endmacro %}
