{% macro render_book(book, cover, current_user, available_copies, extend=False) %}
<div class="d-flex shadow-sm flex-column flex-md-row m-3 p-3">
    <div class="flex-shrink-0 ms-3 mb-2">
        {{ cover|safe }}
    </div>
    <div>
        <div>
            <span class="fw-bold font-monospace m-3 fs-3">
                <a href="{{ url_for('main.book_details', book_id=book.id) }}" class="link-dark">
                    {{ book.title }}
                </a>
            </span>
            <br>
            <span class="fs-5 font-monospace m-3">
                <a href="{{ url_for('main.search', search_by='author', phrase=book.author.full_name) }}" class="link-dark text-muted">
                    {{ book.author.full_name }}
                </a>
            </span>
        </div>
        <div class="m-3">
            Wydawnictwo: <a href="{{ url_for('main.search', search_by='publisher', phrase=book.publisher) }}" class="link-dark">{{ book.publisher }}</a><br>
            Rok wydania: {{ book.year }}<br>
            Liczba stron: {{ book.pages }}<br>
            Gatunek: <a href="{{ url_for('main.search', search_by='category', phrase=book.category) }}" class="link-dark">{{ book.category }}</a>
            {% if extend %}
                <br>
                Dostępnych sztuk: <span class="{% if available_copies > 0 %}text-success{% else %}text-danger{% endif %}"> {{ available_copies }} / {{ book.number_of_copies }} </span>
            {% endif %}
        </div>
        {% if extend %}
        <div class="text-muted m-3">
            {{ book.description|truncate }}
        </div>
        {% endif %}
    </div>
    {% if extend %}
    <div class="text-end">
        {% if current_user.role.name in ("moderator", "admin")%}
            <a href="{{ url_for('moderate.borrow_book', book_id=book.id) }}" class="btn btn-success m-1 {% if available_copies <= 0 %}disabled{% endif %}">
                <abbr title="Wypożycz">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                    </svg>
                </abbr>
            </a>
        <a href="{{ url_for('moderate.edit_book', book_id=book.id) }}" class="btn btn-warning m-1">
            <abbr title="Edytuj">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                </svg>
            </abbr>
        </a>
        <a href="{{ url_for('moderate.list_borrows_users', book_id=book.id) }}" class="btn btn-info m-1">
            <abbr title="Wypożyczenia">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
            </abbr>
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
    {% endmacro %}
