{% macro render_book(book, cover, show_description=False) %}
<div class="d-flex shadow-sm m-3 p-3">
    {{ cover|safe }}
    <div class="ms-3">
        <div class="mb-3">
            <a href="{{ url_for('main.book_details', id=book.id) }}" class="link-dark"><span
                    class="fw-bold font-monospace m-3 fs-3">{{ book.title }}</span></a>
            <span class="fs-3 font-monospace"> | <a href="{{ url_for('main.search', search_by='author', phrase=book.author.full_name) }}" class="link-dark">{{ book.author.full_name }}</a></span>
        </div>
        <div class="m-3">
            Wydawnictwo: <a href="{{ url_for('main.search', search_by='publisher', phrase=book.category) }}" class="link-dark">{{ book.publisher }}</a><br>
            Rok wydania: {{ book.year }}<br>
            Liczba stron: {{ book.pages }}<br>
            Gatunek: <a href="{{ url_for('main.search', search_by='category', phrase=book.category) }}" class="link-dark">{{ book.category }}</a>
        </div>
        {% if show_description %}
        <div class="text-muted m-3">
            {{ book.description|truncate }}
        </div>
        {% endif %}
    </div>
</div>
    {% endmacro %}