{% macro render_floating_input(field) %}
    <div class="form-floating mb-3">
        {% if field.errors %}
            {{ field(class="form-control is-invalid", placeholder="name@example.pl", **kwargs)|safe }}
            {% for error in field.errors %}
                <span class="text-muted fs-6">{{ error }}</span><br>
            {% endfor %}
        {% else %}
            {{ field(class="form-control", placeholder="name@example.pl", **kwargs)|safe }}
        {% endif %}
        {{ field.label }}
    </div>
{% endmacro %}

{% macro render_select(field) %}
    {% if field.errors %}
        {{ field(class="form-select is-invalid", **kwargs) }}
        {% for error in field.errors %}
            <span class="text-muted fs-6">{{ error }}</span>
            <div class="my-3"></div>
        {% endfor %}
    {% else %}
        {{ field(class="form-select my-3", **kwargs) }}
    {% endif %}
{% endmacro %}

{% macro render_input_file(field) %}
    {% if field.errors %}
        {{ field(class="form-control is-invalid", type="file", **kwargs) }}
        {% for error in field.errors %}
            <span class="text-muted fs-6">{{ error }}</span>
        {% endfor %}
    {% else %}
        {{ field(class="form-control", type="file", **kwargs) }}
    {% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
    {{ field(class="form-check-input", **kwargs)}}
    {{ field.label }}
{% endmacro %}

{% macro render_submit(field) %}
    {{ field(class="btn btn-secondary", **kwargs) }}
{% endmacro %}