{% macro render_pagination(pagination, endpoint) %}
<ul class="pagination ms-auto me-auto">
  {%- for page in pagination.iter_pages(left_edge=1, right_current=2, right_edge=1) %}
    {% if page %}
      {% if page != pagination.page %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('main.search', page=page) }}">{{ page }}</a>
        </li>
      {% else %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ page }}</a>
        </li>
      {% endif %}
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
    {% endif %}
  {%- endfor %}
</ul>
{% endmacro %}
