{% macro render_pagination(pagination, endpoint) %}
<ul class="pagination ms-auto me-auto">
  {%- for page in pagination.iter_pages(left_edge=1, right_current=2, right_edge=1) %}
    {% if page %}
      {% if page != pagination.page %}
        <li class="page-item">
          {% if request.args.get("search_by") and request.args.get("phrase") %}
          <a class="page-link" href="{{ url_for('main.search', page=page, search_by=request.args.get("search_by"), phrase=request.args.get("phrase")) }}">{{ page }}</a>
          {% else %}
            <a class="page-link" href="{{ url_for('main.search', page=page) }}">{{ page }}</a>
          {% endif %}
        </li>
      {% else %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ page }}</a>
        </li>
      {% endif %}
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
    {% endif %}
  {%- endfor %}
</ul>
{% endmacro %}
