{% from "macros/_form.html" import render_floating_input %}
{% from "macros/_form.html" import render_select %}
{% from "macros/_form.html" import render_submit %}

<!-- inspired by www.srodawlkp-mbp.sowwwa.pl -->
<!doctype html>
<html lang="pl">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        {% if title %}
        <title>LIBsys - {{ title }}</title>
        {% else %}
        <title>LIBsys</title>
        {% endif %}
    </head>
    {% if not dont_show_navbar %}
    <nav class="container navbar navbar-expand-lg navbar-light bg-light ps-5 pe-5 border border-top-0 border-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><span
                    class="bg-dark text-light p-1 fs-2 font-monospace">LIB<sup>sys</sup></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Strona główna</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('main.search') }}">Wyszukiwanie zaawansowane</a>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="dropdown navbar-nav">
                        <a class="dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Konto
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Zmień hasło</a>
                            </li>
                        </ul>
                    </div>
                    {% if current_user.role.name in ("moderator", "admin") %}
                        <div class="dropdown navbar-nav">
                            <a class="dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Moderacja
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('moderate.add_book') }}">Dodaj książkę</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('moderate.list_users') }}">Lista użytkowników</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">
                            Wyloguj
                            <span class="small text-muted">
                                [{{ current_user.personal_data[0].name }} {{ current_user.personal_data[0].surname }}]
                            </span>
                        </a>
                    </div>
                {% else %}
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Zaloguj</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }} mt-5">
            {{ message[1] }}
        </div>
        {% endfor %}
    </div>
    {% if not dont_show_search_bar %}
        <div class="container mt-5 p-5 bg-light border">
            <h2 class="text-center mb-3">Szukaj w księgozbiorze</h2>
            <div class="border-top"></div>
            <form method="get" action={{ url_for("main.search") }} class="mt-4">
                {{ render_floating_input(form.phrase) }}
                <div class="d-flex justify-content-between">
                    {% if advanced_search %}
                            <div class="d-flex">
                                {{ render_select(form.search_by, class="form-select") }}
                                <abbr class="m-2" title="Wybierając 'Szukaj po frazie' wpisany tekst szuka książek po imieniu i nazwisku autora, opisie książki, tytule i wydawnictwie.">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                                    </svg>
                                </abbr>
                            </div>
                    {% endif %}
                    <div class="ms-auto">
                        {{ render_submit(form.submit, class="btn btn-secondary") }}
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    {% block content %}{% endblock content %}
    <div class="m-5"></div>
    <!-- TODO: class footer don't work properly -->
    <!-- fixed-bottom isn't the best idea -->
    <!-- temporary solution -->
    <footer class="bg-dark p-2 w-100 fixed-bottom">
        <div class="container text-light text-center">Wszelkie prawa zastrzeżone &copy; <a
                href="https://github.com/bartox7777">bartox;</a> 2021</div>
    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    </body>
</html>
